.wrapper {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .name {
        writing-mode: vertical-lr;
        font-size: 80px;
    }
    .spell {
        font-size: 20px;
    }
}
