.wrapper {
    min-width: 1248px;
    display: flex;
    direction: rtl;
    padding: 40px 14% 40px 8%;
    transition: background-color 3s;
    .name {
        margin: 48px 8%;
    }
    .color {
        margin-left: 4%;
    }
    .itemsWrapper {
        height: calc(100vh - 98px);
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none
        }
    }
}
