.wrapper {
    display: flex;
    direction: rtl;
    transition: background-color 3s;
    .itemsWrapper {
        height: 100vh;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none
        }
    }
}
