.wrapper {
    margin: 4px 12px;
    border-top: 20px solid;
    border-radius: 16px;
    padding: 12px;
    cursor: pointer;
    direction: initial;
    .inner {
        width: 100%;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        writing-mode: vertical-lr;
    }
}
