.inner {
    width: 100%;
    height: 134px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    .rgbWrapper {
        display: flex;
        flex-direction: column-reverse;
        .rgb {
            display: flex;
            flex-direction: column-reverse;
            .line {
                position: relative;
                width: 2px;
                background-color: #CCC;
                &:not(:first-child) {
                    margin-right: 3px;
                }
                .innerLine {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    transition: background .3s;
                }
            }
        }
        .code {
            width: 16px;
            font-size: 12px;
        }
    }
}